.image{
  height: 3rem;
  width: 3rem;
float: left;
}
.imagecard{
  align-items: center;
margin-left: 35rem;
}
.from{
margin-top: 10rem;
margin-left: 20rem;
}
.fromcard{
  border: 5px solid black;
  padding: 5%;
  margin-left: 10rem;
  margin-right: 10rem;


}
.btn{
  color: blue;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
}
